 <!-- IMPORTANT Call Out message to be used for coupons or special giveaways -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff">
        <tr>
            <td align="center">
                <table border="0" width="200" align="center" cellpadding="0" cellspacing="0" bgcolor="f6851f" style="border: 3px solid #f6851f;font-family: 'Roboto', sans-serif; ">
                    <tr>
                        <td align="center" style="color: #ffffff; font-size: 15px;  font-weight:700;  line-height: 32px;">
                            IMPORTANT MESSAGE
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td align="center">
                <table border="0" width="590" align="center" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="container590" style="border: 3px solid #f6851f; ">

                    <tr>
                        <td height="45" style="font-size: 45px; line-height: 45px;">&nbsp;</td>
                    </tr>

                    <tr>
                        <td align="center">
                            <table border="0" width="540" align="center" cellpadding="0" cellspacing="0" class="container580">

                                <tr>

                                    <td width="30">&nbsp;</td>
                                    <td align="center" style="color: #333333; font-size: 18px; font-family: 'Roboto', sans-serif; line-height: 32px;">

                                        <div style="line-height: 32px; font-family: 'Roboto', sans-serif;">
                                            Sign up for the winter class today and recienve a  <span style="color: #5caad2; text-decoration: none;">$10.00</span> off coupon on your next session
                                        </div>
                                    </td>
                                    <td width="30">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="15" style="font-size: 15px; line-height: 15px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="30">&nbsp;</td>
                                    <td align="center">
                                        <table border="0" align="center" width="160" cellpadding="0" cellspacing="0" bgcolor="5caad2" style="background-color: #126cb5;">

                                            <tr>
                                                <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                                            </tr>

                                            <tr>
                                                <td align="center" style="color: #ffffff; font-size: 14px; font-family: 'Roboto', sans-serif; line-height: 26px; ">


                                                    <div style="line-height: 26px;">
                                                        <a href="" style="color: #ffffff; text-decoration: none;">SIGN UP</a>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                                            </tr>

                                        </table>
                                    </td>
                                    <td width="30">&nbsp;</td>
                                </tr>

                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td height="45" style="font-size: 45px; line-height: 45px;">&nbsp;</td>
                    </tr>

                </table>
            </td>
        </tr>

        <tr class="hide">
            <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td height="40" style="font-size: 64px; line-height: 40px;">&nbsp;</td>
        </tr>

    </table>
    <!-- end section ====== -->
    