 <!-- A simple Text block that can go under an image or stand alone by itself
    -->
    
    
    <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="bg_color">

        <tr>
        <tr>
			<td align="center" width="590" style="color: #343434; font-size: 36px; font-family: 'Roboto', sans-serif; font-weight:700;letter-spacing: 3px; line-height: 35px; margin: 20px 0px;"
				class="main-header">
				<div style="line-height: 35px;
					width: 590px; margin: 50px 0px;">
					Simple Text Block
				</div>
			</td>
		</tr>
            <td align="center">
                <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">

                    <tr>
                        <td align="center" style="color: #343434; font-size: 24px; font-family: 'Roboto', sans-serif; font-weight:700;letter-spacing: 3px; line-height: 35px;"
                            class="main-header">
                            <!-- section text -->

                            <div style="line-height: 35px">

                                Welcome to the future of <span style="color: #126cb5;">Technology</span>

                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                    </tr>

                    <tr>
                        <td align="center">
                            <table border="0" width="40" align="center" cellpadding="0" cellspacing="0" bgcolor="eeeeee">
                                <tr>
                                    <td height="2" style="font-size: 2px; line-height: 2px;">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                    </tr>

                    <tr>
                        <td align="left">
                            <table border="0" width="590" align="center" cellpadding="0" cellspacing="0" class="container590">
                                <tr>
                                    <td align="left" style="color: #888888; font-size: 16px; font-family: 'Roboto', sans-serif; line-height: 24px;">
                                        <!-- section text ======-->

                                        <p style="line-height: 24px; margin-bottom:15px;">

                                            Tech EdVentures kids get hands-on as they wire circuits, build robots, write computer code and paint their inspiration on a digital canvas. Serious learning meets serious fun.

                                        </p>
                                        <p style="line-height: 24px;margin-bottom:15px;">
                                            Tech EdVentures kids get hands-on as they wire circuits, build robots, write computer code and paint their inspiration on a digital canvas. Serious learning meets serious fun.
                                        </p>
                                        <p style="line-height: 24px; margin-bottom:20px;">
                                            Tech EdVentures kids get hands-on as they wire circuits, build robots, write computer code and paint their inspiration on a digital canvas. Serious learning meets serious fun.
                                        </p>
                                        <p style="line-height: 24px; margin-bottom:15px;">
                                        	Tech EdVentures kids get hands-on as they wire circuits, build robots, write computer code and paint their inspiration on a digital canvas. Serious learning meets serious fun.
                                        </p>
                                        <table border="0" align="center" width="180" cellpadding="0" cellspacing="0" bgcolor="5caad2" style="margin-bottom:20px; background-color: #126cb5;">

                                            <tr>
                                                <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                                            </tr>

                                            <tr>
                                                <td align="center" style="color: #ffffff; font-size: 14px; font-family: 'Roboto', sans-serif; line-height: 22px; letter-spacing: 2px;">
                                                    <!-- main section button -->

                                                    <div style="line-height: 22px;">
                                                        <a href="" style="color: #ffffff; text-decoration: none;">CALL TO ACTION</a>
                                                    </div>
                                                </td>
                                            

                                            <tr>
                                                <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                                            </tr>

                                        </table>

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
        <tr class="hide">
            <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td height="40" style="font-size: 64px; line-height: 40px;">&nbsp;</td>
        </tr>

<div class="spacing"></div>
    
 
